@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&&family=Big+Shoulders+Stencil+Text&display=swap');

@font-face {
  font-family: bloodcrows;
  src: url(/static/fonts/bloodcrows.woff2) format('woff2');
}

@font-face {
  font-family: bloodcrowi;
  src: url(/static/fonts/bloodcrowi.ttf);
  font-kerning: none;
  font-weight: 100;
}

@font-face {
  font-family: bloodcrow;
  src: url(/static/fonts/bloodcrow.woff2) format('woff2');
}

@font-face {
  font-family: bahnschrift;
  src: url(/static/fonts/bahnschrift.woff2) format('woff2');
}


body {
  position: relative;
  font-family: bahnschrift, sans-serif;
  color: #000;
  min-width: 500px;
  background-color: #532e04;
  background-image: url(/static/images/lord.png);
  background-repeat: repeat-y;
  background-size: 150vw;
  background-position: center top;

}

.regle {
  position: relative;
  border-radius: 20px;
}

.regle .nom {
  font-family: bloodcrowi;
  font-size: medium;

}

.regle .description {
  font-family: bloodcrow;
  font-size: small;

}