{% extends "base.html" %} {% block title %}Constructeur Bande{% endblock %} {% block content %}
<div class="liste-regle">
    <h3>Constructeur Bande</h3>
    <div class="DropDown">
        <button onclick="maFactionSelect()" class="DDbouton">Faction</button>
        <div id="maFactionBouton" class="dropdown-content">
            <a href="#faction1">Faction1</a>
            <a href="#faction2">Faction2</a>
            <a href="#faction3">Faction3</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@3.0.0"></script>
<script type="module">
    const API_URL = '/constructeur'
    const app = Vue.createApp({
        data() {
            return {
                donnees: null
            }
        },
        created() {
            fetch(APi_URL).then(response => response.json()).then(data => { this.data = data })
        }
    }).mount('#app')
</script>
{% endblock %}